.tile-switch {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative; /* Чтобы dropdown позиционировался относительно кнопки */
  }
  
  .tile-switch-button {
    background-color: #282c34;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .tile-switch-button:hover {
    background-color: #3c3f41;
    transform: scale(1.05);
  }
  
  .tile-type-dropdown {
    position: absolute;
    top: -10px; /* Adjusted to be slightly above the button */
    right: 40px; /* Adjusted to be slightly to the right of the button */
    background-color: #2c2f36;
    border: 1px solid #444;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin-top: 6px;
    padding: 6px;
    min-width: 10vw;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden; /* Prevents overflow */
  }
  
  .tile-type-dropdown button {
    padding: 10px 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .tile-type-dropdown button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
  }
  
  .tile-type-dropdown button.active {
    background-color: #61dafb;
    color: #2c2f36;
    font-weight: 600;
  }
  
  .tile-type-dropdown button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(97, 218, 251, 0.5);
  }
  
  .tile-type-option {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff; /* Changed text color to white */
    font-size: 12px; /* Reduced font size */
  }
  
  .tile-type-option input[type="radio"] {
    accent-color: #61dafb;
  }