.menu {
    position: fixed;
    top: 8vh;
    left: -250px;
    width: 250px;
    height: calc(100% - 8vh);
    background-color: #282c34;
    overflow: hidden;
    transition: left 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.menu.open {
    left: 0;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 60px;
}

.close-button {
    margin: 0;
    padding-right: 15px;
    padding-top: 8px;
    display: block;
    margin-block-start: 0!important;
    margin-block-end: 0!important;
    margin-inline-start: 0!important;
    margin-inline-end: 0!important;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #61dafb;
}

.menu-title {
    color: white;
    text-align: left;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 0;
}

.menu li {
    padding: 14px 14px 14px 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
}

.menu li:hover {
    background-color: #3c3f41;
}

.menu li a:hover {
    color: #61dafb;
}

.menu li a .icon {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.menu li:hover .icon {
    transform: scale(1.2);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}