.App-header {
  position: relative;
  z-index: 2;
  background-color: #282c34;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
}

.App-header-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgb(255 255 255);
  padding: 5px;
  margin: 0;
  border-bottom: 3px solid #ffffff;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

.map-container-wrap {
  background: #282c34;
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  height: calc(100vh - 8vh);;
  z-index: 0;
}

.map-container-wrap.active {
  z-index: 1;
}

.map-container {
  position: absolute;
  top: 0vh;
  left: 0;
  width: 100%;
  height: calc(100vh - 8vh);;
  z-index: 0;
}

.map {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.preloader-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	pointer-events: all;
}

.preloader {
	color: white;
	font-size: 18px;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px 20px;
	border-radius: 5px;
}
