

.App-header {
  background-color: #282c34;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  padding: 0 20px;
}

.App-link {
  color: #61dafb;
}

.map-container {
  position: relative;
  width: 100%;
  height: 92vh;
}

.map {
  width: 100%;
  height: 100%;
}