.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; /* Adjust the font size to be smaller */
  color: white;
  padding: 0 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Map-header {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

.map-container {
  width: 100%;
  height: 92vh;
}
